@font-face {
    font-family: 'Pokemon Bold';
    src: url('/resource/fonts/pkmndpb.ttf');
}

@font-face {
    font-family: 'Pokemon Regular';
    src: url('/resource/fonts/pkmnems.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    width: 100%;
}

#canvas {
    background-color: #443c67;
    width: 1240px;
    height: 600px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin: auto;
    display: block;
}